/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(to right, #5D31CE,#FA824C,#FF5A5F,#573A8F);
}

header img {
    width: 100px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}

/* Centering the navigation bar items */
nav {
    
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the nav items */
}

nav ul li {
    margin: 0 15px; /* This adds space between the nav items */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #5D31CE,#FA824C,#FF5A5F,#573A8F);
}

/* Specific styling for the pastor's section */
.pastor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#pastorsImage {
    width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.pastor-text {
    max-width: 600px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .pastor-info {
        flex-direction: column;
        text-align: center;
    }

    #pastorsImage {
        margin: 0 auto 20px;
    }
}
