body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(to right, #5D31CE,#FA824C,#FF5A5F,#573A8F);
}

header img {
    width: 100px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}

/* Centering the navigation bar items */
nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the nav items */
}

nav ul li {
    margin: 0 15px; /* This adds space between the nav items */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #5D31CE,#FA824C,#FF5A5F,#573A8F);
}

section {
    padding: 2rem;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

.slideshow-container, .event-slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides, .eventSlides {
    display: none;
}

img {
    vertical-align: middle;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.pastor-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

#ChurchLogo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sermon Grid Section */
.sermon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    margin-top: 20px;
}

.sermon-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.sermon-item:hover {
    transform: scale(1.05);
}

.sermon-title {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.sermon-pdf {
    font-size: 1em;
    color: #007BFF;
    text-decoration: none;
}

.sermon-pdf:hover {
    text-decoration: underline;
}

/* Mobile responsiveness for the grid */
@media (max-width: 600px) {
    .sermon-item {
        height: auto;
        padding: 15px;
    }
}
