body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header img {
    width: 100px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}

/* Centering the navigation bar items */
nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the nav items */
}

nav ul li {
    margin: 0 15px; /* This adds space between the nav items */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

section {
    padding: 2rem;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

.slideshow-container, .event-slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides, .eventSlides {
    display: none;
}

img {
    vertical-align: middle;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.pastor-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

#ChurchLogo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}